<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="header">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:include=":: #pageTitle" th:text="${post?.title}">
    </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/blog-home.css}" rel="stylesheet">

        <script th:inline="javascript">
            var contextPath = [[@{/}]];
            // var contextPath = [[${contextPath}]];
        </script>
</head>

<div th:fragment="navigation" class="container">
    <a class="navbar-brand" th:href="@{/}">Spring Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                            <li sec:authorize="hasRole('USER')" class="nav-item">
                                <a class="nav-link" th:href="@{/post/new}">New Post</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()" class="nav-item">
                                <a class="nav-link" th:href="@{/sign-in}">Sign in</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" th:href="@{/sign-out}">Sign out</a>
                            </li>
        </ul>
    </div>
</div>

<div th:fragment="widget">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form method="GET" th:action="@{/}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="q">
                    <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
    </div>

    <!--  Users Widget -->
    <div class="card my-4">
        <h5 class="card-header">Authors</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li th:each="user: ${users}">
                            <a th:if="${userStat.index % 2 == 0}"
                               th:href="@{/user/{username}(username=${user.username})}"
                               th:text="${user.username}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li th:each="user: ${users}">
                            <a th:if="${userStat.index % 2 != 0}"
                               th:href="@{/user/{username}(username=${user.username})}"
                               th:text="${user.username}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Tag Widget -->
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">


            <span th:each="tag : ${tagMap}">
                <a th:if="${tag.value == 2}"
                   th:text="'#'+${tag.key.name}"
                   style="font-size: 26px" th:href="@{/tag/{name}(name=${tag.key.name})}"></a>
            </span>
            <span th:each="tag : ${tagMap}">
                <a th:if="${tag.value >= 3}"
                   th:text="'#'+${tag.key.name}"
                    style="font-size: 34px" th:href="@{/tag/{name}(name=${tag.key.name})}"></a>
            </span>

            <span th:each="tag : ${tagMap}">
                <a th:if="${tag.value < 2}"
                   th:text="'#'+${tag.key.name}"
                   style="font-size: 18px"  th:href="@{/tag/{name}(name=${tag.key.name})}"></a>
            </span>


        </div>
    </div>
</div>


<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
    </div>
</footer>

<body>

</body>
</html>
